A {
	FONT-WEIGHT: bold; COLOR: #0070c0; TEXT-DECORATION: none
}
A:hover {
	COLOR: #d04000
}
BODY {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d0a070; TEXT-ALIGN: center
}
BLOCKQUOTE {
	FONT-STYLE: italic
}
H2 {
	MARGIN-TOP: 0px; FONT-SIZE: 140%
}
H3 {
	FONT-SIZE: 120%
}
H4 {
	FONT-SIZE: 100%
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #ffd0a0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #e0b080; PADDING-BOTTOM: 2px; BORDER-TOP-COLOR: #ffd0a0; PADDING-TOP: 2px; BACKGROUND-COLOR: #fff0d0; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #e0b080
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #ffd0a0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #e0b080; PADDING-BOTTOM: 2px; BORDER-TOP-COLOR: #ffd0a0; PADDING-TOP: 2px; BACKGROUND-COLOR: #fff0d0; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #e0b080
}
INPUT:unknown {
	BACKGROUND-COLOR: #ffffd0
}
TEXTAREA:unknown {
	BACKGROUND-COLOR: #ffffd0
}
INPUT.button {
	BORDER-RIGHT: #703000 2px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #f0e0c0 2px solid; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #f0e0c0 2px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #703000 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d0a070
}
INPUT.button:unknown {
	COLOR: #ffffd0
}
LABEL {
	FONT-WEIGHT: bold
}
TEXTAREA {
	FONT-FAMILY: "Courier New", Courier, monospace; SCROLLBAR-BASE-COLOR: #d0a070
}
TD {
	FONT-SIZE: 10pt
}
TH {
	FONT-SIZE: 10pt
}
TH {
	FONT-WEIGHT: bold; TEXT-ALIGN: left
}
UL {
	LIST-STYLE-TYPE: square
}
.errorMsg {
	FONT-WEIGHT: bold; COLOR: #c00000
}
#main {
	MARGIN: 0px auto; WIDTH: 42em; TEXT-ALIGN: left
}
#titleBar {
	BORDER-RIGHT: #704020 2px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #c09070 2px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 120%; PADDING-BOTTOM: 2px; BORDER-LEFT: #c09070 2px solid; COLOR: #fff0d0; PADDING-TOP: 2px; BORDER-BOTTOM: #704020 2px solid; BACKGROUND-COLOR: #a07050
}
#copyright {
	BORDER-RIGHT: #704020 2px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #c09070 2px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 120%; PADDING-BOTTOM: 2px; BORDER-LEFT: #c09070 2px solid; COLOR: #fff0d0; PADDING-TOP: 2px; BORDER-BOTTOM: #704020 2px solid; BACKGROUND-COLOR: #a07050
}
#copyright {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; TEXT-ALIGN: right
}
#content {
	BORDER-RIGHT: #b08050 2px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ffe0b0 2px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #ffe0b0 2px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #b08050 2px solid; BACKGROUND-COLOR: #f0c090
}
#validation {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; TEXT-ALIGN: right
}
.menuBar {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
.menuBar A.menuButton {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
.menu {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
.menu A.menuItem {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
.menuBar {
	BORDER-RIGHT: #906040 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e0b090 2px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e0b090 2px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #906040 2px solid; BACKGROUND-COLOR: #c09070; TEXT-ALIGN: left
}
.menuBar A.menuButton {
	BORDER-RIGHT: #c09070 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #c09070 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: #c09070 1px solid; CURSOR: default; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #c09070 1px solid; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.menuBar A.menuButton:hover {
	BORDER-LEFT-COLOR: #e0b090; BORDER-BOTTOM-COLOR: #906040; BORDER-TOP-COLOR: #e0b090; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #906040
}
.menuBar A.menuButtonActive {
	BORDER-LEFT-COLOR: #704020; LEFT: 1px; BORDER-BOTTOM-COLOR: #e0b090; COLOR: #fff0d0; BORDER-TOP-COLOR: #704020; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #906040; BORDER-RIGHT-COLOR: #e0b090
}
.menuBar A.menuButtonActive:hover {
	BORDER-LEFT-COLOR: #704020; LEFT: 1px; BORDER-BOTTOM-COLOR: #e0b090; COLOR: #fff0d0; BORDER-TOP-COLOR: #704020; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #906040; BORDER-RIGHT-COLOR: #e0b090
}
.menu {
	BORDER-RIGHT: #906040 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e0b090 2px solid; PADDING-LEFT: 0px; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 1px; BORDER-LEFT: #e0b090 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #906040 2px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #c09070; TEXT-ALIGN: left
}
.menuShadow {
	FILTER: alpha(opacity = 10); VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #000000; opacity: .1; moz-opacity: .1
}
.menu A.menuItem {
	DISPLAY: block; CURSOR: default; COLOR: #000000; TEXT-DECORATION: none
}
.menu A.menuItem {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.menu .menuHeader {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.menu A.menuItemActive {
	COLOR: #fff0d0; BACKGROUND-COLOR: #906040
}
.menu A.menuItemActive:hover {
	COLOR: #fff0d0; BACKGROUND-COLOR: #906040
}
.menu A.menuItem .menuItemText {
	
}
.menu A.menuItem .menuItemArrow {
	PADDING-LEFT: 0.25em; FONT-SIZE: 75%; MARGIN-RIGHT: -0.75em
}
.menu .menuHeader {
	FONT-WEIGHT: bold
}
.menu .menuSeparator {
	BORDER-TOP: #906040 1px solid; MARGIN: 4px 2px; BORDER-BOTTOM: #e0b090 1px solid
}
#sideBar {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 0px solid; FONT-SIZE: 9pt; FLOAT: left; MARGIN: 0em 1em 0em 0em; BORDER-LEFT: #000000 1px solid; WIDTH: 10em; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #f0d0b0
}
.sideBarHdr {
	PADDING-RIGHT: 0.5em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #d0a070
}
.sideBarTxt {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.sideBarSep {
	BORDER-TOP: #d0a070 1px solid; MARGIN: 2px 0px
}

@media Print    
{
A {
	FONT-WEIGHT: normal! important; COLOR: #808080! important
}
BODY {
	FONT-SIZE: 10pt! important; FONT-FAMILY: Arial, Helvetica, sans-serif! important
}
BODY {
	BACKGROUND-IMAGE: none! important
}
#content {
	BACKGROUND-IMAGE: none! important
}
BODY {
	COLOR: #000000! important; BACKGROUND-COLOR: #ffffff! important
}
INPUT {
	COLOR: #000000! important; BACKGROUND-COLOR: #ffffff! important
}
TEXTAREA {
	COLOR: #000000! important; BACKGROUND-COLOR: #ffffff! important
}
#titleBar {
	COLOR: #000000! important; BACKGROUND-COLOR: #ffffff! important
}
#copyright {
	COLOR: #000000! important; BACKGROUND-COLOR: #ffffff! important
}
#content {
	COLOR: #000000! important; BACKGROUND-COLOR: #ffffff! important
}
.menuBar {
	COLOR: #000000! important; BACKGROUND-COLOR: #ffffff! important
}
INPUT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
INPUT.button {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
#titleBar {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
#copyright {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
#content {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.menuBar {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
INPUT.button {
	COLOR: #000000; BACKGROUND-COLOR: #e0e0e0! important
}
TEXTAREA {
	SCROLLBAR-BASE-COLOR: #e0e0e0! important
}
#main {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
#titleBar {
	BORDER-BOTTOM-WIDTH: 0px! important
}
#content {
	BORDER-BOTTOM-WIDTH: 0px! important
}
.menuBar {
	BORDER-BOTTOM-WIDTH: 0px! important
}
#titleBar {
	BACKGROUND-COLOR: #c0c0c0! important
}
#copyright {
	BACKGROUND-COLOR: #c0c0c0! important
}
#validation {
	DISPLAY: none! important
}
.menuBar {
	PADDING-BOTTOM: 4px! important; PADDING-TOP: 4px! important; BACKGROUND-COLOR: #e0e0e0! important
}
.menuBar A.menuButton {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: bold! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 8pt! important; LEFT: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; COLOR: #e0e0e0! important; FONT-STYLE: normal! important; FONT-FAMILY: "MS Sans Serif", Arial, Tahoma, sans-serif! important; TOP: 0px! important; BACKGROUND-COLOR: #e0e0e0! important; BORDER-RIGHT-WIDTH: 0px! important
}
.menuBar A.menuButtonActive {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: bold! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 8pt! important; LEFT: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; COLOR: #e0e0e0! important; FONT-STYLE: normal! important; FONT-FAMILY: "MS Sans Serif", Arial, Tahoma, sans-serif! important; TOP: 0px! important; BACKGROUND-COLOR: #e0e0e0! important; BORDER-RIGHT-WIDTH: 0px! important
}
.menu {
	DISPLAY: none! important
}
IMG {
	DISPLAY: none! important
}
.errorMsg {
	COLOR: #000000! important
}
#sideBar {
	COLOR: #000000! important; BACKGROUND-COLOR: #e0e0e0! important
}
.sideBarHdr {
	COLOR: #000000! important; BACKGROUND-COLOR: #c0c0c0! important
}
.sideBarSep {
	BORDER-LEFT-COLOR: #000000! important; BORDER-BOTTOM-COLOR: #000000! important; COLOR: #000000! important; BORDER-TOP-COLOR: #000000! important; BORDER-RIGHT-COLOR: #000000! important
}

}
